*~
*.o
*.so
*.y.h
*.y.c
*.l.c
*.gcov
*.gcda
*.gcno
fffll
parse*
massif.out.*
configure
aclocal.m4
autom4te.cache
compile
config.guess
config.status
config.sub
config.log
depcomp
install-sh
libtool
ltmain.sh
missing
ylwrap
Makefile.in
